<ul class="media-list">
  <% tasks.each do |task| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(task.user, { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        
        <div>
          <p><%= task.content %></p>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate tasks %>
</ul>